
<h2>Log in to your account here:</h2><br>
<form action="/login" method="POST">
Email: <br><input type="text" name="email"><br><br>
Password: <br><input type="password" name="password"><br><br>
<input type="submit" value="Log In"><br>
<br><br>
</form>

Don't have an account? <a href="/signup">Sign up!</a><br><br>
<a href="/">Back</a>
