<h1>Create a New Restaurant:</h1>


<form action='/restaurants' method="POST">
  Name: <input type="text" name="name">
  Vegan Options: <input type="text" name="options">
  Info Source: <input type="text" name="source">
  Image URL: <input type="text" name="image_url">
  <input type=submit>

</form>