<h1>Create a New Restaurant:</h1>


<form class="" action="/restaurants" method="restaurant">
  <label for="name">Name:</label>
  <input type="text" name="name" value="">
  <label for="options">Vegan Options:</label>
  <input type="text" name="options" value="">
  <label for="source">Info Source:</label>
  <input type="text" name="source" value="">
  <label for="image_url">Image URL:</label>
  <input type="text" name="image_url" value="">

  <input type="submit" name="" value="Submit">

</form>