<h2>Create a New Restaurant:</h2><br><br>


<form action='/restaurants' method="POST">
  Name: <input type="text" name="name"><br><br>
  Vegan Options: <br><textarea type="text" name="options" rows="10" cols="50"></textarea><br><br>
  Info Source: <input type="text" name="source"><br><br>
  Image URL: <input type="text" name="image_url"><br><br>
  <input type=submit>

</form>