
<br><br>
<div id="searchContainer">
    <div id="searchby">
        <form action="/search" method="post">
            <input id="searchbar" type="text" name="sort[keyword]" placeholder="Search here">
            <input id="submit" type="submit" alt="Search">
        </form>
    </div>
<br><br>



