<div class="container">

  <h1 class="welcome_title"> Vegan's Restaurant Survival Guide</h1><br>
  <h2><span style="padding-left:330px">Stuck in a steak house?</span></h2>
  <h3><span style="padding-left:160px">Find here the vegan options you can order at non-vegan restaurants!</span></h3>
  <h3><span style="padding-left:160px">Or tell the world what have you found and help others survive too!</span></h3>
  <br><br>
  <a href="/login">LOG IN</a>
  <a href="/signup">SIGN UP</a><br>


  <img class="welcome_img" src="https://images.unsplash.com/photo-1534889196564-a6799df68403?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">


</div>


<style>

  .container {
    margin-top: 100px;
    margin-bottom: 100px;

  }
  .welcome_title {
    color: #191970;
    border: 2px #869089;
    outline-style: inset;
    outline-color: #869089;
    outline-width: medium;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 50px;

  }

  .welcome_img {
    height: 65%;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    display:block;
    text-align:center;
    margin-top: 25px;
  }

</style>
