<div class="container">
  <h1>The Vegan's Restaurant Survival Guide!</h1>
  <h2><span style="padding-left:200px">Stuck in a steak house?</span></h2>
  <h3>Find here the vegan options you can order at famous non-vegan restaurants!</h3>
  <h3>Or tell the world what have you found and help others survive too!</h3>
  <br><br>

  <a href="/login">LOG IN</a> OR <a href="/signup">SIGN UP</a>
</div>
